

body {
  font-family: 'Poppins', sans-serif;
  color: #B7B7B7;
  width: 400px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em 1.125em;
}

main {
  padding: 0 .5em;
  background: linear-gradient(180deg, #FFFFFF 0%, #F6F7FB 100%);
}

/* fonts */

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #F8F8F8;
  margin: 0;

}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.625em;
  margin-top: 0.4375em;
  font-weight: 400;
}

header i {
  font-size: 2rem;
}


.tindog-logo {
  width: 84px;
}

img {
  max-width: 100%;
}

.profile-img {
  border-radius: 15px;
}

.profile-container {
  position: relative;
}

.profile-text {
  position: absolute;
  left: 0.75rem;
  bottom: 0;
  margin-top: auto;
}

button {
  font-size: 3rem;
  border: none;
  border-radius: 50%;
  width: 95px;
  height: 95px;
  box-shadow: 0px 0px 10px rgb(241, 241, 241);
  background-color: white;
  cursor: pointer;
}

.btns-container {
  padding: 1rem 0;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.dislike-btn {
  color: #E82D70;
}

.dislike-btn:hover,
.dislike-btn:focus {
  background-color: #FFE7EF;
}

.like-btn {
  color: #56E9CD;
}

.like-btn:hover,
.like-btn:focus {
  background-color: #DBFFF4;
}

.img-badge {
  position: absolute;
  width: 234px;
  top: 3.4375rem;
  left: 1.25rem;
  transform: rotate(-30deg);
}

.hidden {
  display: none;
}